*~
*.a
aclocal.m4
*autom4te.cache
ChangeLog
config.*
configure
depcomp
.deps
*.desktop
*.desktop.in
gtk-doc.make
gutachter
gutachter-*.tar.*
gutachter-paths.h
gutachter-types.*
INSTALL
install-sh
.libs
libtool
*.la
*.lo
ltmain.sh
Makefile
Makefile.in
missing
*.o
*.pc
test-fail
test-gutachter
test-pass
