*~
*.a
aclocal.m4
*autom4te.cache
ChangeLog
config.*
configure
depcomp
.deps
gutachter
gutachter-*.tar.*
gutachter-types.*
INSTALL
install-sh
.libs
libtool
*.la
*.lo
ltmain.sh
Makefile
Makefile.in
missing
*.o
test-dummy
test-gutachter
